{% block head %}
    <title>telecomsteve: DevOps consulting for startups and Web3</title>
    <meta name="description" content="telecomsteve is a boutique DevOps consulting firm that empowers startups and Web3 teams to launch faster, scale smarter, and automate away the burdens of complex infrastructure.">
{% endblock head %}

{% extends "sidebar.html" %}
{% block content %}
    <div class="main">

        <h1>{{ title }}</h1>

        <br>
        <p>Source: <a href="{{link}}">{{link}}</a></p>
        <br>

        {{ content|safe }}
        
    </div>
{% endblock content %}
