{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <h2>Research Blog</h2>
            <p>Random thoughts and research in progress; powered by Github Gists.</p>
            <br>
            <!-- construct each blog post -->
            <div class="main-content">
            {% for post in blog %}   
                    <h3 class="blog_accent"><a href="{{ post['html_url'] }}" target="_blank">{{ post['description'] }}</a><span class="news_domain">({{ post['updated_at'].split('T')[0] }})</span></h3>
                    <br>
            {% endfor %}
            </div>
    </div>
{% endblock content %}
