{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <link rel="stylesheet" href="../static/css/bookmarks.css">

        <div class="grid-container" id="gridContainer">
            <div class="plus-icon" onclick="showPopup()" title="Add New Bookmark">+</div>
        </div>
        
        <div class="popup-container" id="popupContainer">
            <div class="popup-form">
            <label for="itemText" style="display: none;">Bookmark Title:</label>
            <input type="text" id="itemText" placeholder="Bookmark Title">
        
            <label for="destination" style="display: none;">Destination URL:</label>
            <input type="text" id="destination" placeholder="Destination URL">
        
            <label for="imageUrl" style="display: none;">Background Image URL (Optional):</label>
            <input type="text" id="imageUrl" placeholder="Background Image URL (Optional)">
        
            <button class="popup-button" onclick="addGridItem()">Save</button>
            <button class="popup-button cancel-button" onclick="hidePopup()">Cancel</button>
            </div>
        </div>
        
        <script src="../static/js/bookmarks.js"></script>
    </div>
{% endblock content %}