{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">
        
        {% if category == 'engineering' %}
            <h1>
                <span style="color:#f1c40f">Engineering</span> &nbsp;
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('finance') }}">Startups and Finance</a> &nbsp;
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('web3') }}">Web3</a>
            </h1>
        {% elif category == 'finance' %}
            <h1>
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('engineering') }}">Engineering</a> &nbsp;
                <span style="color:#f1c40f">Startups and Finance</span> &nbsp;
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('web3') }}">Web3</a>
            </h1>
        {% else %}
            <h1>
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('engineering') }}">Engineering</a> &nbsp;
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('finance') }}">Startups and Finance</a> &nbsp;
                <span style="color:#f1c40f">Web3</span>
            </h1>
        {% endif %}

            <br>
            <p>Select a topic above to change news sources.</p>
            <br>
            
            <!-- construct each news story -->
            <div class="main-content">
            {% for story in news %}
                {% if story['href'] != [] and story['domain'] not in blocked %}    
                    <h3 class="news_accent"><a href="{{ url_for('article_view', url=story['link']) }}">{{ story['title'] }}</a>
                    <br>
                        <span class="news_domain">{{ story['domain'] }}</span> </h3>
                    <br>
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
    </div>
{% endblock content %}
