{% block head %}
    <title>telecomsteve: DevOps consulting for startups and Web3</title>
    <meta name="description" content="telecomsteve is a boutique DevOps consulting firm that empowers startups and Web3 teams to launch faster, scale smarter, and automate away the burdens of complex infrastructure.">
{% endblock head %}

{% extends "sidebar.html" %}
{% block content %}
    <div class="main">

        <div class="logo">
            <img src="{{ url_for('static', filename='img/telecomsteve_logo.png') }}" alt="telecomsteve DevOps consulting logo">
        </div>

        <div class="hero-scramble">
            <div class="text-scramble"></div>
        </div>

<!--         <div>
            <img src="../static/img/steven_platt.webp" alt="Steven Platt, PhD" class="about_photo">
        </div>

        <div class="about_text">
            <h1>Steven Platt, PhD</h1>
            <br>
            <p>Hi, I'm Steven, principal consultant at telecomsteve, a boutique consulting firm specializing in DevOps for Startups and Web3.</p>
            <div class="about_links">
                <a class="about_links" target="blank" href="https://www.linkedin.com/in/telecomsteve">LinkedIn</a>
                <a class="about_links" target="blank" href="https://github.com/stevenplatt/telecomsteve-flask">GitHub</a>
            </div>

        </div> -->
    </div>
{% endblock content %}
