{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <div>
            <img src="../static/steven_platt.webp" alt="Steven Platt, PhD" class="about_photo">
        </div>

        <div class="about_text">
            <h1>Steven Platt, PhD</h1>

            <p>Hi, I'm Steven, but you can call me telecomsteve.</p>
            <p>I am an infrastructure engineer and researcher specializing in blockchain and peer-to-peer networks.</p>
            <div class="about_links">
                <a class="about_links" target="blank" href="https://www.linkedin.com/in/telecomsteve">LinkedIn</a>
                <a class="about_links" target="blank" href="https://github.com/stevenplatt/telecomsteve-flask">GitHub</a>
            </div>

            <div class="main-content">
                <h3 class="resume_accent">Education</h3>
                <ul>
                  <li>PhD. Information and Communications Technologies, Pompeu Fabra University, Barcelona, Spain, 2018-2021</li>
                  <li>M.S. Wireless Communications, Barcelona School of Telecommunications Engineering, Barcelona, Spain, 2017-2018</li>
                  <li>MBA. Business Administration, Illinois State University, Normal, US, 2009-2012</li>
                  <li>B.S. Electronic Systems Technology, Southern Illinois University at Carbondale, Carbondale, US, 2004-2007</li>
                </ul>
                <br>
            
                <h3 class="resume_accent">Experience</h3>
            
                <h4>O(1)Labs</h4>
                <p><i>Senior Infrastructure Engineer</i>, San Francisco, US, 2021-current</p>
                <ul>
                  <li>Engineering lead for infrastructure and platform scaling of the Mina protocol and blockchain.</li>
                </ul>
            
                <h4>Pompeu Fabra University</h4>
                <p><i>Doctoral Researcher</i>, Barcelona, Spain, 2018-2021</p>
                <ul>
                  <li>Thesis: "Towards Generalized Blockchain Enabled Cellular Overlays".</li>
                  <li>Wrote network simulations and consensus algorithms in the Python programming language using the NumPy and Pandas
                    libraries for data visualisation of outputs.</li>
                  <li>Published research at top ranked journals and conferences including MDPI Journal Sensors (SJR Q1) and IEEE
                    GlobeCom.</li>
                </ul>
            
                <h4>Twitter.com</h4>
                <p><i>Systems Engineer II</i>, San Francisco, US, 2014-2017</p>
                <ul>
                  <li>Managed infrastructure deployments on 5 continents including DNS, server virtualization, and storage arrays.</li>
                  <li>Migrated monolith VoIP infrastructure to a service-oriented design, reducing voice carrier costs globally 72%.</li>
                  <li>Reduced site delivery time from 12 weeks to 2 by transitioning ISDN cricuits to internet peering using SIP.</li>
                  <li>Mentored and trained support engineers as company headcount expanded 100% in 2 years.</li>
                </ul>
            
                <h4>Salesforce.com</h4>
                <p><i>Network Engineer</i>, San Francisco, US, 2012-2014</p>
                <ul>
                  <li>Principle network deployment engineer; completed network deployment for facilities in the United States,
                    United Kingdom and Australia.</li>
                  <li>Global support for Cisco LAN, WAN, Wireless and VPN, Juniper firewall, and F5 Load Balancer systems.</li>
                </ul>
            
                <h4>Caterpillar Inc</h4>
                <p><i>IT Analyst II</i>, Peoria, US, 2007-2012</p>
                <ul>
                  <li>Engineering lead for Enterprise Video technology and services.</li>
                  <li>Completed platform design and field trials of new satellite connected "field view" industrial camera to enable remote machine support with deployments in Canada, Czech Republic, and the United States.</li>
                </ul>
                <br>
            
                <h3 class="resume_accent">Projects and Activities</h3>

                <h4>Yoptio</h4>
                <p><i>Founder and Manager</i>, San Francisco, US, 2016-2018</p>
                <ul>
                  <li>Hired and managed an outsourced development team consisting of an account manager and three developers located in the United States and India.</li>
                  <li>Built an MVP for a receptionist-as-a-service platform, supporting number ordering, dynamic call routing, and voice message transcription.</li>
                </ul>
                <br>

                <h3 class="resume_accent">Open Source Contributions</h3>
                <ul>
                  <li><a href="https://github.com/MinaProtocol/mina" target="blank">mina</a>, 2021-current</li>
                  <li><a href="https://gitlab.gnome.org/GNOME/gnome-shell" target="blank">gnome-shell</a>, 2020</li>
                </ul>
                <br>

                <h3 class="resume_accent">Languages and Tools</h3>
                <ul>
                  <li>Python, Go, Bash, YAML, HCL, Solidity, SQL</li>
                  <li>Linux, AWS, GCP, Azure, Docker, Kubernetes, Ansible, Puppet, Terraform, Jenkins</li>
                </ul>
                <br>

                <h3 class="resume_accent">Languages</h3>
                <ul>
                  <li>English, native</li>
                  <li>Spanish, intermediate</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock content %}
