{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <div>
            <img src="../static/img/steven_platt.webp" alt="Steven Platt, PhD" class="about_photo">
        </div>

        <div class="about_text">
            <h1>Steven Platt, PhD</h1>
            <br>
            <p>Hi, I'm Steven, an infrastructure architect specializing in blockchain and Web3.</p>
            <div class="about_links">
                <a class="about_links" target="blank" href="https://www.linkedin.com/in/telecomsteve">LinkedIn</a>
                <a class="about_links" target="blank" href="https://github.com/stevenplatt/telecomsteve-flask">GitHub</a>
            </div>

            <div class="main-content">
                <h2 class="resume_accent">Experience</h2>
            
                <h3>O(1)Labs</h3>
                <p><i>Lead Infrastructure Engineer</i>, Remote, US, 2021-current</p>
                <ul>
                  <li>Managed and maintained RPC node operations for "testnet", "mainnet", and "hard fork" network infrastructures using Terraform, Helm, and Google Kubernetes Engine.</li>
                  <li>Designed and built stress testing infrastructure to validate network consensus safety and the scaling limits of total user counts and block synchronization (bootstrap) within the Mina blockchain and protocol. 
                    This work resulted in the discovery of two network halting bugs (severity 0).</li>
                  <li>Recruited, mentored, and provided technical leadership for a team of engineers responsible for the quality assurance (QA) and public rollout of Mina blockchain software and infrastructure.</li>
                </ul>
            
                <h3>Pompeu Fabra University</h3>
                <p><i>Doctoral Researcher</i>, Barcelona, Spain, 2018-2021</p>
                <ul>
                  <li>Thesis: "Towards Generalized Blockchain Enabled Cellular Overlays".</li>
                  <li>Wrote and taught the smart contract programming curriculum for a new "Blockchain Technologies" course focused on the Ethereum blockchain 
                      and Solidity programming language.</li>
                  <li>Published research at top ranked journals and conferences including MDPI Journal Sensors (SJR Q1) and IEEE
                    GlobeCom.</li>
                </ul>
            
                <h3>Yoptio</h3>
                <p><i>Founder</i>, San Francisco, US, 2016-2018</p>
                <ul>
                  <li>Hired and managed an outsourced development team consisting of an account manager and three developers located in the United States and India.</li>
                  <li>Built an MVP for a receptionist-as-a-service platform, supporting number ordering, dynamic call routing, and voice message transcription.</li>
                </ul>

                <h3>Twitter.com</h3>
                <p><i>Systems Engineer II</i>, San Francisco, US, 2014-2017</p>
                <ul>
                  <li>Migrated monolith VoIP infrastructure to a service-oriented design, reducing voice carrier costs globally 72%.</li>
                  <li>Reduced site delivery time from 12 weeks to 2 by transitioning ISDN cricuits to internet peering using SIP.</li>
                </ul>
            
                <h3>Salesforce.com</h3>
                <p><i>Network Engineer</i>, San Francisco, US, 2012-2014</p>
                <ul>
                  <li>Principle network deployment engineer; completed network deployment for facilities in the United States,
                    United Kingdom and Australia.</li>
                  <li>Global support for Cisco LAN, WAN, Wireless and VPN, Juniper firewall, and F5 Load Balancer systems.</li>
                </ul>
                <br>

                <h2 class="resume_accent">Languages and Tools</h2>
                <ul>
                  <li>Python, Go, Javascript, Bash, YAML, HCL, Solidity, SQL</li>
                  <li>Linux, AWS, GCP, Azure, Docker, Kubernetes, Ansible, Puppet, Terraform, Engineering Management</li>
                </ul>
                <br>

                <h2 class="resume_accent">Education</h2>
                <ul>
                  <li>PhD. Blockchain Technologies, Pompeu Fabra University, Barcelona, Spain.</li>
                  <li>M.S. Wireless Communications, Barcelona School of Telecommunications Engineering, Barcelona, Spain.</li>
                  <li>MBA. Business Administration, Illinois State University, Normal, USA.</li>
                  <li>B.S. Electronic Systems Technology, Southern Illinois University at Carbondale, Carbondale, USA.</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock content %}
