{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">

        <h1>
            <span style="color: #bf80ff">Work in Web3</span>
        </h1>
        <br>
            <p>
                Goodbye ghost jobs! <br>
                These Web3 positions are 100% remote and have become available in the last 30 days. <br>
                <br>
                Coming soon...
            </p>
        <br>

            <div class="main-content">
                <!-- job listings here -->
                <ul>
                    {% for job in jobs %}
                    <li>{{ job.company }} - {{ job.jobTitle }}</li>
                    {% endfor %}
                </ul>
            </div>
    </div>

    <script type="text/javascript" src="../static/js/database.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const jobs = await getAllJobs();
            const jobListElement = document.querySelector('.main-content ul');

            jobs.forEach(job => {
                const listItem = document.createElement('li');
                listItem.innerText = `${job.company} - ${job.jobTitle}`;
                jobListElement.appendChild(listItem);
            });
        });

        async function getAllJobs() {
            try {
                const querySnapshot = await db.collection('web3-remote-jobs').get();
                const jobs = [];
                
                querySnapshot.forEach((doc) => {
                    const { company, dateAdded, jobTitle, url } = doc.data();
                    
                    const thirtyOneDaysAgo = new Date();
                    thirtyOneDaysAgo.setDate(thirtyOneDaysAgo.getDate() - 31);
                    
                    if (dateAdded.toDate() > thirtyOneDaysAgo) {
                        jobs.push({ company, dateAdded, jobTitle, url });
                    }
                });
            
                return jobs;
            } catch (e) {
                console.error('Error retrieving jobs from the database:', e);
                return [];
            }
        }
    </script>
{% endblock content %}

