{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">

            <h1>
                <span style="color: #bf80ff">Work in Web3</span>
            </h1>
            <br>
                <p>
                    These Web3 positions are 100% remote and have become available in the last 30 days. <br>
                </p>
            <br>

            <div class="main-content">
                {% for job in jobs %} 
                <h3 class="news_accent"><a href="{{ job['url'] }}" target="_blank">{{ job['jobTitle'] }}</a> 
                    <br>
                    <span style="color: #bf80ff">
                        {{ job['company'] }} <br>
                        <span style="font-size:80%">
                            Salary: unknown
                        </span>
                    </span>
                </h3>
                <br>
                {% endfor %}
            </div>
            

            
    </div>
{% endblock content %}
