{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">
        
        {% if category == 'jobs' %}
            <h1>
                <span style="color: #bf80ff">All Positions</span> &nbsp;
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('jobs_30days') }}">Recently Posted</a>
            </h1>
            <br>
                <p>
                    I built a web scraper to help family and friends find jobs in Web3. <br>
                    Bonus: All positions are 100% remote. <br>
                    <br>
                    Coming soon...
                </p>
            <br>
        {% else %}
            <h1>
                <a style="color:#cdd0d4; font-size:50%" href="{{ url_for('jobs') }}">All Positions</a> &nbsp;
                <span style="color: #bf80ff">Recently Posted</span>
            </h1>
            <br>
                <p>
                    Goodbye ghost positions; hello Web3. <br>
                    These positions have all become available within the last 30days. <br>
                    <br>
                    Coming soon...
                </p>
            <br>
        {% endif %}
            
            <div class="main-content">
            
                <!-- job listings here -->

            </div>
    </div>
{% endblock content %}
