{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">
        
        {% if category == 'technology' %}
            <h1>
                <span style="color:#f1c40f; font-size:125%">Technology</span> &nbsp;
                <!-- &nbsp; <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('engineering') }}">Engineering</a> -->
                <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('finance') }}">Finance</a>
            </h1>
        {% elif category == 'engineering' %}
            <h1>
                <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('technology') }}">Technology</a> &nbsp;
                <span style="color:#f1c40f; font-size:125%">Engineering</span>
                &nbsp; <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('world') }}">World</a>
            </h1>
        {% else %}
            <h1>
                <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('technology') }}">Technology</a> &nbsp;
                <!-- <a style="color:#cdd0d4; font-size:75%" href="{{ url_for('engineering') }}">Engineering</a> &nbsp; -->
                <span style="color:#f1c40f; font-size:125%">Finance</span>
            </h1>
        {% endif %}

            <br>
            <p>Select a topic above to change news sources.</p>
            <br>
            
            <!-- construct each news story -->
            <div class="main-content">
            {% for story in news %}
                {% if story['href'] != [] and story['domain'] not in blocked %}    
                    <h3 class="news_accent"><a href="{{ story['link'] }}" target="_blank">{{ story['title'] }}</a> <span class="news_domain">({{ story['domain'] }})</span> </h3>
                    <br>
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
    </div>
{% endblock content %}
