{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <h2>Research Activity</h2>
        <p>My research focuses are blockchain, cryptocurrency, and peer-to-peer networks.</p>
        <p>Member of the IEEE Communications Society and the Association of Computing Machinery (ACM).</p>

        <br><br>

        <form class="search-container" action="{{ url_for('research') }}" method="post">
            <input type="text" name="search-query" placeholder="search arxiv.org">
            <img class="search-icon" src="../static/magnifying_glass.svg">
        </form>

        <br><br>

        {% block research %} {% endblock %}
    </div>
{% endblock content %}
