<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="../static/favicon.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>telecomsteve</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
    <div class="sidenav">
        <div class="navblock">
            <div class="navblock_text">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('research') }}">Research</a>
                <a href="{{ url_for('portfolio') }}">Portfolio</a>
                <a href="{{ url_for('blog') }}">Blog</a>
                <a href="{{ url_for('news') }}">News</a>
            </div>
        </div>
        <div class="footer">
            <!--<a href="#">Login</a>-->
            <p>&copy; telecomsteve</p>
        </div>
    </div>

    {% block content %} {% endblock %}

</body>

</html>
