<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>telecomsteve</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidenav">
        <div class="navblock">
            <div class="navblock_text">
                <a href="{{ url_for('home') }}">home</a>
                <a href="{{ url_for('research') }}">research</a>
                <a href="{{ url_for('jobs') }}">web3 jobs</a>
                <a href="{{ url_for('engineering') }}">news</a>
                <!--<div class="login-menu">
                    <a href="{{ url_for('login') }}">login</a>
                </div>-->
            </div>
        </div>
        <div class="footer">
            <a href="{{ url_for('login') }}">login</a>
        </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">top</button>

    {% block content %} {% endblock %}

    <script type="text/javascript" src="../static/js/main.js"></script>

</body>

</html>
