{% extends "sidebar.html" %}
{% block content %}
    <ul class="main">
        <li class="dial">
            <a href="http://facebook.com" target="_self">
                <div class="thumb" style="background-image:url(http://i.imgur.com/yIeoHS5.png)"></div>
                <div class="site">Facebook</div>
            </a>
        </li>
        <li class="dial">
            <a href="http://google.com" target="_self">
                <div class="thumb" style="background-image: url(http://farm6.static.flickr.com/5221/5612548667_a9b09a2068_o.png)"></div>
                <div class="site">Google</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">Gmail.com</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">Yahoo</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">TheNewBoston</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">PHPacademy</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">Geo.saitebi.ge</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">W3Schools</div>
            </a>
        </li>
        <li class="dial">
            <a href="#">
                <div class="thumb" style="background-image: url(http://png-4.findicons.com/files/icons/2561/1st_mx_is_4c/256/speed_dial2.png)"></div>
                <div class="site">Seo.ge</div>
            </a>
        </li>
    </ul>
{% endblock content %}