{% extends "sidebar.html" %}
{% block content %}
    <div w3-include-html="../navbar_index.html"></div>
        <div class="main">
        <h2>Engineering News</h2>
            <p>A feed of the current fifty most popular stories from Hacker News.</p>

            <br>

            {% for key,value in news.items() %}
                {% for key, story in value.items() %}
                    <h3><a href="{{ story }}" class="resume_accent" target="_blank">{{ key }}</a></h3>
                    <br>
                {% endfor %}
            {% endfor %}

    </div>
{% endblock content %}
