{% block head %}
    <title>telecomsteve: DevOps consulting</title>
    <meta name="description" content="Schedule an interview with telecomsteve.">
{% endblock head %}

{% extends "sidebar.html" %}
{% block content %}
    <div class="main">
        <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0zQMLe_BZ0wWJar8OSjrccDI50zwE5_g053oMF4b9GePEnXTxEoPKA5wkU0K23T6M_cM3j4_2D?gv=true" style="border: 0" width="100%" height="100%" frameborder="0"></iframe>
    </div>
{% endblock content %}
